body {
    background: url("Chicken and Waffles.jpg") center/100px repeat-x;
        font-family: Comic, Helvetica, sans-serif;
}

h1 {
    color: rgb(216, 63, 157);
    font: 32px Garamond, Helvetica, serif;
}

table {
    width: 75%;
}

thead {
    text-align: center;
    font: 24px Helvetica, serif;
}

tbody {
    
        text-align: center;
        font: 20px serif;
 
}


label {
    display: block;
}

#submit-btn {
    display: block;
}